# Forzar HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirigir todas las solicitudes que comiencen con /api al backend
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ backend/server.js/$1 [L,NC,QSA]

# Redirigir todas las demás solicitudes al frontend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Configurar headers de seguridad
<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "DENY"
    Header always set X-XSS-Protection "1; mode=block"
</IfModule>

<FilesMatch "\.(env|json|lock|git)">
    Require all denied
</FilesMatch>
